/* styles/3-common.css */

body {
    margin: 0;
    padding: 0;
    font-family: "Circular","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #484848;
    font-size: 14px;
}

/* Browser tab icon (favicon) */
link[rel="icon"] {
    /* Add your favicon image path here */
    background-image: url('../images/icon.png');
    background-size: cover;
}
