/* styles/3-header.css */

header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 20px;
    align-self: center;
}

.logo img {
    /* Add your logo image path here */
    height: 30px;
    width: auto;
}
